@font-face {
    font-family: 'Quicksand';
    src: url('assets/Quicksand-VariableFont_wght.ttf') format('truetype'),
}

* {
    font-family: Quicksand;
}

/* ----- header ----- */

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

header img {
    width: 15%;
}

.link {
    display: flex;
    gap: 5rem;
    font-size: 1.9rem;
    font-weight: 700;
    margin-right: 5rem;
    padding: 15px 40px;
    border-radius: 40px;
}

.link a {
    color: black;
    text-decoration: none;
}

/* ----- products ----- */

.item-row {
    display: flex;
}

.item-displayer{
    background: #b8b8b8;
    padding: 4rem 2rem;
    margin: 3rem 0;
}

.item-displayer h3 {
    font-size: 30px;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item img{
    display: flex;
    width: 24rem;
    height: 23vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
}

.item {
    display: flex;
    border: 5px solid #6d6d6d;
    background: #fff;
    justify-content: space-between;
    border-radius: 50px;
    height: auto;
    padding: 2rem 2rem;
    align-items: right;
    flex-direction: column;
}

.item p {
    font-size: 25px;
}

/* item:hover {
    
} */